<p>
  Title:  <%= @my_thread.title %>
</p>

<%= link_to "Show Comment", my_thread_comments_path(my_thread_id: @my_thread) %>

<<<<<<< HEAD
<% if @my_thread.user_id==@current_user_id %>
=======
<% if @user_id_authentic==@current_user_id %>
>>>>>>> 7b348ea57a85abe1e26e92419887ab2b04459976
<%= link_to 'Edit', edit_my_thread_path(my_thread_id: @my_thread) %> 
<% end %>
<%= link_to 'Back', my_threads_path %>
